Source: llx-upgrade-release
Section: admin
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: Equipo LliureX <lliurex@gva.es>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2

Package: llx-upgrade-release
Depends: ${shlibs:Depends}, ${misc:Depends}, lliurex-up
Architecture: all
Description: LliureX Upgrade Release
 App that brings upgrade releases
 to LliureX
